.body-class {
    font-family: Roboto;
}
.nav-section {
    background: rgba(0, 0, 0, 0.5);
}
.icon {
    padding: 20px;
}
.icon-name {
    position: absolute;
    left: 10%;
    top: 7%;
    color: #F19201;
}
div > nav > a,p{
    padding-left: 20px;
    float: right;
}
.nav-bar {
    position: absolute;
    top: 7%;
    right: 7%;
}
.name {
    background-color: #F19201;
    padding-left: 20px;
    color: white;
    margin-top: 1px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav {
    padding-top: 20px;
    padding-right: 30px;
    color: white;
}
a:hover {
    color: #F19201;
}
.section-1 {
    background-image: url('assets/image6.png');
    width: auto;
    height: auto;
    width: 100%;
    height: 500px;
}

.advert-section {
    float: left;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    padding-top: 60px;
}